<%= render 'shared/form_error', obj: @play %>

<%= form_for @play do |f| %>
	<div>
		<%= f.label :usernames, "Select Players:" %>
		<br \>
		<ul>
			<%= f.collection_check_boxes :user_ids, User.all, :id, :username do |cb| %>
				<% content_tag(:li, cb.label(class: "checkbox-label") { cb.check_box + cb.text }) %>
			<% end %>
		</ul>
	</div>
	<div>
		<%= f.label :usernames, "Select Game:" %>
		<br \>
		<ul>
			<%= f.collection_radio_buttons :game_id, Game.all, :id, :title do |rb| %>
				<% content_tag(:li, rb.label(class: "radio_label") { rb.radio_button + rb.text}) %>
			<% end %>
		</ul>
	</div>
	<%= f.submit class: "btn btn-success", remote: true, data: { "disable-with": "Saving..." }  %>
<% end %>
